@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

body {
  background-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

@keyframes pixel-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pixel-square {
  animation: pixel-appear 0.1s ease-in;
}

